// app size
$appW: 100%;
$appH: 460px; // minimum

// logo size
$logoW: 204px;
$logoH: 41px;

// box size
$boxW: 933px;
$boxH: 312px;

// font
$font: "Poppins";

// colors
$white: #fff;
$gray: #8b8b96;
$darkgray: #4d4d4d;
$mediumgray: #cfcfd5;
$lightgray: #f4f4f4;
$red: #ca252f;
$orange: #f69d26;

// devices width
$widthL: 980px;
$widthM: 803px;
$widthS: 600px;
$widthXS: 320px;
